db_credentials = {'host': 'localhost',
                  'db': 'portals',
                  'user': 'scraper',
                  'passwd': 'scr@p3r'}

your_email = 'ingress.noob' # this is your email address without the @gmail.com part

# if you dont want to put your password here you can get a one time use one here https://support.google.com/accounts/answer/185833?hl=en
email_password = 'seekret paswerd' # your email password.
