<html>
  <head>
    <title>Ingress Portal Status</title>

    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization', 'version':'1','packages':['timeline']}]}"></script>
    <script type="text/javascript">
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var container = document.getElementById('example1');

        var chart = new google.visualization.Timeline(container);

        var dataTable = new google.visualization.DataTable();

        dataTable.addColumn({ type: 'string', id: 'Id' });
        dataTable.addColumn({ type: 'string', id: 'Portal' });
        dataTable.addColumn({ type: 'date', id: 'Submitted' });
        dataTable.addColumn({ type: 'date', id: 'Response' });

        dataTable.addRows([
         {% for row in data %}
          [ '{{row.id}}', '{{row.name|safe}}', new Date({{row.ping|safe}}), new Date({{row.pong|safe}}) ],
         {% endfor %}
        ]);

        var options = {
          colors: {{colors|safe}},
          timeline: { showRowLabels: false,
                      groupByRowLabel: false,
                      colorByRowLabel: true }
        };
        
        function selectHandler() {
          var selectedItem = chart.getSelection()[0];
          if (selectedItem) {
            var value = dataTable.getValue(selectedItem.Fb, 2);
            console.log(value);
          }
        }
        
        google.visualization.events.addListener(chart, 'select', selectHandler);
        
        chart.draw(dataTable, options);
      }
    </script>
  </head>
  <body>
    <!--https://google-developers.appspot.com/chart/interactive/docs/gallery/timeline-->
    <table cellspacing=0>
      <tr>
        <td style="background-color:rgb(51, 102, 204);color:rgb(255, 255, 255);font-family: Arial;">Accepted: {{count[True]}}</td>
        <td style="background-color:rgb(220, 57, 18);color:rgb(255, 255, 255);font-family: Arial;">Rejected: {{count[False]}}</td>
        <td style="background-color:rgb(255, 153, 0);font-family: Arial;">Pending: {{count[None]}}</td>
        <td>&nbsp;</td>
        <td><button onclick="location.href='/portalstatus?cmd=start'">Sort by submit date</button></td>
        <td><button onclick="location.href='/portalstatus?cmd=end'">Sort by response date</button></td>
        <td><button onclick="location.href='/portalstatus?cmd=days'">Sort by days waited</button></td>
        <td><a href='/portalstatus?cmd=raw'>Raw json</a></td>
      </tr>
    </table>
    <div id="example1" style="position:absolute;top:40;bottom:0;left:0;right:0;"></div>
  </body>
</html>