<html>
  <head>
    <title>Ingress Portal Status</title>

    <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization', 'version':'1','packages':['timeline']}]}"></script>
    <script type="text/javascript">
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var container = document.getElementById('example1');

        var chart = new google.visualization.Timeline(container);

        var dataTable = new google.visualization.DataTable();

        dataTable.addColumn({ type: 'string', id: 'Id' });
        dataTable.addColumn({ type: 'string', id: 'Portal' });
        dataTable.addColumn({ type: 'date', id: 'Submitted' });
        dataTable.addColumn({ type: 'date', id: 'Response' });

        dataTable.addRows([
         {% for row in data %}
          [ '{{row.id}}', '{{row.name|safe}}', new Date('{{row.ping|safe}}'), new Date('{{row.pong|safe}}') ],
         {% endfor %}
        ]);

        var options = {
          colors: {{colors|safe}},
          timeline: { showRowLabels: false,
                      groupByRowLabel: false,
                      colorByRowLabel: true }
        };

        function selectHandler() {
        
          function get_date_string(d) {
            var m_names = new Array("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec");
            return d.getDate() + "-" + m_names[d.getMonth()] + "-" + d.getFullYear();
          }
          
          var selectedItem = chart.getSelection()[0];
          if (selectedItem) {
            var name = dataTable.getValue(selectedItem.bb, 1);
            var start = dataTable.getValue(selectedItem.bb, 2);
            var end = dataTable.getValue(selectedItem.bb, 3);
            var days = Math.floor((end - start) / (1000 * 60 * 60 * 24));
            
            var info = "Start:" + get_date_string(start) + ", End:" + get_date_string(end) + ", Days:" + days + ", Name:" + name.split('(').slice(0, -1).join('(');
            
            console.log(start, end, days, name);
            document.getElementById("info").innerHTML = info;
          }
        }
        
        google.visualization.events.addListener(chart, 'select', selectHandler);
        
        chart.draw(dataTable, options);
      }
    </script>
  </head>
  <body>
    <!--https://google-developers.appspot.com/chart/interactive/docs/gallery/timeline-->
    <table cellspacing=0>
      <tr>
        <td style="background-color:rgb(51, 102, 204);color:rgb(255, 255, 255);font-family: Arial;">Accepted: {{count[True]}}</td>
        <td style="background-color:rgb(220, 57, 18);color:rgb(255, 255, 255);font-family: Arial;">Rejected: {{count[False]}}</td>
        <td style="background-color:rgb(255, 153, 0);font-family: Arial;">Pending: {{count[None]}}</td>
        <td>&nbsp;</td>
        <td>
          <select id="list" onChange="location.href=list.value">
            <option value="/portalstatus">(None)</option>
            <option value="/portalstatus?cmd=start">Sort by submit date</option>
            <option value="/portalstatus?cmd=end">Sort by response date</option>
            <option value="/portalstatus?cmd=days">Sort by days waited</option>
            <option value="/portalstatus?cmd=raw">Raw JSON</option>
            <option value="/portalstatus?cmd=histogram">Response Histogram</option>
            <option value="/portalstatus?cmd=summary">Full Report with Images</option>
          </select>
        </td>
        <td><div id="info" style="font-family: Arial;"> </div></td>
      </tr>
    </table>
    <div id="example1" style="position:absolute;top:40;bottom:0;left:0;right:0;"></div>
  </body>
</html>